<div ng-class="::['radial-progress', small? 'small': '']" data-progress="{{transit.minutesLeft > 60? '100' : floor(transit.minutesLeft * 10/6)}}">
	<div class="circle">
		<div class="mask full">
			<div class="fill"></div>
		</div>
		<div class="mask half">
			<div class="fill"></div>
			<div class="fill fix"></div>
		</div>
	</div>
	<div class="transportation inset" ng-style="::{'background-image': 'url({{::picture}})'}"></div>
	<div class="transportation inset" ng-class="[small? '' : 'transparent-grey']">
		<div ng-class="::[small? 'secondary-transportation' : 'primary-transportation']">
			<i class="icon ion-android-{{transit.type === 'walking'? 'walk' : transit.type}}"></i>
			<p>{{transit.minutesLeft > 60 ? floor(transit.minutesLeft / 60) + ':' + (transit.minutesLeft % 60
				< 10 ? '0' : '') + transit.minutesLeft % 60 + ' hours' : transit.minutesLeft + ' mins'}}</p>
		</div>
	</div>

</div>