<ion-view title="Time to Leave">
    <ion-content class="timetoleave-page">
        <div class="row">
            <div class="col" ng-repeat="parent in parents track by $index" ng-click="goToIndex($index)">
                <div class="transportation primary-transportation" ng-style="{'background-image': 'url({{parent.picture}})'}">
                    <i ng-class="['icon', 'ion-android-' + '{{parent.transit[0].type}}']"></i>
                    {{parent.transit[0].minutesLeft}} mins
                </div>
                <!--<div class="transportation secondary-transportation">
                    <i ng-class="['icon', 'ion-android-' + '{{parent.transit[1].type}}']"></i>
                    <br/>
                    {{parent.transit[1].minutesLeft}} mins
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col" ng-repeat="child in children">
                <div class="transportation primary-transportation" ng-style="{'background-image': 'url({{child.picture}})'}">
                    <i ng-class="['icon', 'ion-android-' + '{{child.transit[0].type}}']"></i>
                    {{child.transit[0].minutesLeft}} mins
                </div>
                <!--<div class="transportation secondary-transportation">
                    <i ng-class="['icon', 'ion-android-' + '{{child.transit[1].type}}']"></i>
                    <br/>
                    {{child.transit[1].minutesLeft}} mins
                </div>-->
            </div>
        </div>
    </ion-content>
</ion-view>