<ion-view title="Car Status">
    <ion-content class="car-status-view">

        <div class="row">
            <div class="car-info-card-box col">

                <div class="car-info-card">
                    <div class="row">
                        <div class="car-info-headline col">BATTERY</div>
                        <div class="car-info-sensor-data col">
                            <div class="car-info-sensor-data-number"> {{ carSimulatorData['range'] }} </div>
                            <div class="car-info-sensor-data-unit">mi.</div>
                        </div>
                    </div>
                    <div class="car-info-level">
                        <span ng-style="{'width': carSimulatorData['battery'] + '%'}" class="{{ carSimulatorData['battery'] > 35 ? 'assertive' : 'alert' }}"></span>
                    </div>
                    <div class="car-info-prefix">Please charge for upcoming trip to:</div>
                    <div class="car-info-subject">San Francisco</div>
                    <div class="car-info-detail">Pick up John at de Young Museum</div>

                </div>
                <div class="car-info-card">
                    <div class="car-info-headline">MAINTENANCE</div>
                    <div class="car-info-level">
                        <span ng-style="{'width': carSimulatorData['oil'] + '%'}" class="{{ carSimulatorData['oil'] > 35 ? 'assertive' : 'alert' }}"></span>
                    </div>
                    <div class="car-info-prefix">Service appointment:</div>
                    <div class="car-info-subject">July 6th, Wednesday</div>
                    <div class="car-info-detail">Audi Palo Alto</div>
                </div>
                <div class="car-info-card">
                    <div class="row">
                        <div class="col">
                            <div class="car-info-headline">PARKING</div>
                            <div class="car-info-subject car-info-subject-map">{{ carSimulatorData['location'] }}</div>
                            <div class="car-info-detail">{{ getAddress(); }}</div>
                        </div>
                        <div class="col">
                            <div class="{{ getMap(); }}"></div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="car-schematic col">
                <div class="car-lock-status"></div>
                <!--<div class="car-lock-status car-lock-status-front"></div>
                <div class="row">
                    <div class="col car-lock-status car-lock-status-left"></div>
                    <div class="col car-lock-status car-lock-status-right"></div>
                </div>
                <div class="car-lock-status car-lock-status-back"></div>-->
            </div>
        </div>

        <div class="usage-hint right">
            <p><i class="icon ion-forward"></i></p>
            <img src="img/TimeToLeave_small_transparent.png">
        </div>

    </ion-content>
</ion-view>