<ion-view title="Timeline">
    <ion-content direction="x" padding="true">
        <div class="row timeline timeline-positive">
            <div class="col col-10 filled">Hello</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Panda</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Mr. Dartmouth</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Wild Things</div>
            <div class="col col-10 filled"></div>
        </div>
        <br/>
        <div class="row timeline timeline-balanced">
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">I Love Kanye</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Lunch</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Work</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Sorry</div>
            <div class="col col-10 filled"></div>
        </div>
        <br/>
        <div class="row timeline timeline-assertive">
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Uptown Funk</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Ms. Dartmouth</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Cheerleader</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 unfilled"></div>
            <div class="col col-10 filled">Shut Up and Dance</div>
            <div class="col col-10 filled"></div>
            <div class="col col-10 filled"></div>
        </div>
    </ion-content>
</ion-view>