<ion-view title="Timeline">
    <ion-content direction="x" padding="true">
        <div class="row timeline-marker">
            <div class="col col-25" ng-repeat="time in timerange track by $index">{{time}}</div>
        </div>
        <div class="row timeline timeline-marker" ng-repeat="calendar in calendars">
            <div
                class="col timeline-cell filled"
                ng-repeat="event in calendar track by $index"
                ng-style="{
                    'margin-left': ($index === 0?
                        ((event.start.getHours() * 60 + event.start.getMinutes() - 07 * 60) / 60 * 25) :
                         (((event.start.getHours() * 60 + event.start.getMinutes())
                            - (calendar[$index - 1].end.getHours() * 60 + calendar[$index - 1].end.getMinutes())) / 60 * 25)) + '%',
                    'flex': '0 0 ' +
                        (((event.end.getHours() * 60 + event.end.getMinutes()) -
                        (event.start.getHours() * 60 + event.start.getMinutes())) / 60 * 25) + '%'
                }">
                {{event.title}}
            </div>
        </div>
    </ion-content>
</ion-view>