<ion-view title="Timeline">
    <ion-content class="timeline-page" scroll="false">
        <div class="timeline-time">
            {{currentHour}}:{{currentMinutes}}
        </div>
        <div class="timeline-pictures">
            <div class="row timeline" ng-repeat="calendar in calendars track by $index">
                <div ng-class="['col', 'timelines' + calendars.length]">
                    <img ng-src="{{pictures[$index]}}"/>
                </div>
            </div>
        </div>
        <ion-scroll direction="x">
            <div class="row timeline-hours">
                <!-- Display the hour markers at the top of the screen.
                    One hour should take up 25% (horizontally) of the screen.-->
                <div class="col hour-marker"
                     ng-repeat="time in timerange track by $index">
                    {{time}}
                </div>
            </div>
            <!-- Calculate where the current time marker has to be placed (25% === 1 hour) -->
            <!-- Subtract {{currentHour - 7}} * 2.5 to make up for minor misplacement of markers -->
            <div class="timeline-current-marker"
                 ng-style="{'left':
                    'calc(' + (((currentHour - 7) * 60 + currentMinutes) / 60 * 25) + '%'
                    + ' - ' + (currentHour - 7) * 2.5 + 'px)'}">
            </div>
            <div class="timelines">
                <div class="row timeline timeline-marker" ng-repeat="calendar in calendars">
                    <!-- Calculate the horizontal positioning of the elements.
                        This is divided into two parts:
                            'margin-left' is to care for the white space between the last calendar
                                event and the current one (or between 7am and the first event).
                            'flex' handles the amount of space the element should occupy given its duration.
                        We want to display four hours on one screen which makes 25% the equivalent for
                            one hour and what we use as a multiplier.
                        The rest of the logic is subtracting the time of the current event from the
                            time of the last event (or 7am for the first event).
                        Since this is very dynamic, I didn't find a way to do it in CSS without making
                            classes for every percentage and even then the percentage still would have
                            to be calculcated.-->
                    <div
                        ng-class="['col', 'timeline-cell', 'filled', 'timelines' + calendars.length]"
                        ng-repeat="event in calendar.events track by $index"
                        ng-style="{
                            'margin-left': ($index === 0?
                                ((event.start.getHours() * 60 + event.start.getMinutes() - 07 * 60) / 60 * 25) :
                                (((event.start.getHours() * 60 + event.start.getMinutes())
                                    - (calendar.events[$index - 1].end.getHours() * 60 + calendar.events[$index - 1].end.getMinutes())) / 60 * 25)) + '%',
                            'flex': '0 0 ' +
                                (((event.end.getHours() * 60 + event.end.getMinutes()) -
                                (event.start.getHours() * 60 + event.start.getMinutes())) / 60 * 25) + '%'
                        }">
                        {{event.title}}
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>