/* Empty. Add your own CSS if you like */

.full-width{
    width: 100%;
    height: auto;
}

a.item{
    height: calc(50vh - 16px);
}

.timeline .filled{
    color: white;
    white-space: nowrap;
    overflow: visible;
    height: 25vh;
    line-height: 23vh;
    font-size: 20px;
    font-weight: bold;
    padding-right: 2px;
}

.timeline .filled + .filled{
    /* Make sure the following .filled doesn't cover the text */
    z-index: -1;
    /* Take care of display bug that shows small white stripes */
    position: relative;
    left: -1px;
}

.timeline-positive .filled{
    background-color: #387ef5;
}

.timeline-balanced .filled{
    background-color: #33cd5f;
}

.timeline-assertive .filled{
    background-color: #ef473a;
}