/* Empty. Add your own CSS if you like */

.full-width {
    width: 100%;
    height: auto;
}

a.item {
    height: calc(50vh - 16px);
}

.timeline-page, .timetoleave-page{
    background-color: black;
}

.timeline-time {
    position: absolute;
    font-size: 90px;
    color: black;
    top: 16px;
    left: -1vw;
    z-index: 2;
}

.transportation{
    border-radius: 100%;
    overflow: hidden;
    background-size: cover;
    box-shadow: inset 0px 0px 40vh grey;
    margin: auto;
}

.transportation:before{
    /*content: '';
    background-size: 40vh;
    position: absolute;
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
    margin: 8px;
    left: 0;
    top: 0;
    border-radius: 100%;
    filter: blur(4px);
    opacity: 0.6;*/
}

.transportation.primary-transportation{
    width: 40vh;
    height: 40vh;
    line-height: 40vh;
    text-align: center;
    color: white;
    font-size: 50px;
}

.transportation.secondary-transportation{
    width: 20vh;
    height: 20vh;
}

.timeline-current-marker{
    position: absolute;
    top: 0;
    height: 100vh;
    border-left: 1px solid red;
    margin-left: calc(30vh + 5px);
}

.timeline-pictures{
    position: absolute;
    /* Make the element 100% wide so that even when the user completely overscrolls,
       the background is still in the background-color of this element. */
    left: -100%;
    /* Abusing the inset box-shadow a bit. Usually it will give a shadow on all
       four edges but we only want it on the right edge so we make the container
       a lot higher and move the upper and lower edge out of view (the left edge
       is never visible since we already made the container really wide) */
    top: -5vh;
    padding-left: 100%;
    width: calc( 100% + 30vh );
    height: 110vh;
    background-color: #525252;
    padding-top: calc( 10px + 5vh);
    box-shadow: 0 0 20px 0 black inset;
    z-index: 1;
}

.timeline-pictures img{
    width: 20vh;
    border-radius: 6px;
    margin-left: 2vh;
    box-shadow: 0 0 6px 0px black;
}

.timeline-pictures img.selected{
    box-shadow: 0 0 10px 6px #387ef5;
}

.timeline-hours{
    color: white;
    padding-top: 0px;
    margin-left: 30vh;
    line-height: 5vh;
    font-size: 6vh;
}

.timeline-hours .hour-marker{
    height: 100vh;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    flex: 0 0 12.5%;
}

.timeline-hours .hour-marker{
    margin-right: 12.5%;
}

.timeline .filled{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    font-weight: bold;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 6px;
}

.timeline .timelines1 {
    height: calc(100vh - 50px);
    line-height: calc(200vh - 130px);
}

.timeline .timelines2 {
    height: calc(50vh - 26px);
    line-height: calc(100vh - 82px);
}

.timeline .timelines3 {
    height: calc(33vh - 20px);
    line-height: calc(66vh - 70px);
}

.timeline .timelines4 {
    height: calc(25vh - 20px);
    line-height: calc(50vh - 70px);
}

.timeline .timelines5 {
    height: calc(20vh - 17px);
    line-height: calc(40vh - 64px);
}

.timeline{
    margin-bottom: 10px;
}

.timelines{
    position: absolute;
    top: 35px;
    margin-left: calc(30vh + 1px);
    width: 100%;
}

.timeline-cell.selected{
    box-shadow: 0 0 10px 6px #387ef5;
}

.timeline-cell > .transit-option{
    position: absolute;
    width: 12.5%;
    height: 25vh;
    line-height: initial;
    border-radius: 6px;
    box-shadow: 0 0 10px 6px black;
    overflow: hidden;
    word-wrap: break-word;
}

.timelines .timeline:nth-of-type(1) .filled{
    background-color: #387ef5;
}

.timelines .timeline:nth-of-type(1) .filled > .transit-option{
    background: repeating-linear-gradient(45deg, #387ef5, #387ef5 10px, #525252 10px, #525252 13px);
}

.timelines .timeline:nth-of-type(2) .filled{
    background-color: #33cd5f;
}

.timelines .timeline:nth-of-type(2) .filled > .transit-option{
    background: repeating-linear-gradient(45deg, #33cd5f, #33cd5f 10px, #525252 10px, #525252 13px);
}

.timelines .timeline:nth-of-type(3) .filled{
    background-color: #886aea;
}

.timelines .timeline:nth-of-type(3) .filled > .transit-option{
    background: repeating-linear-gradient(45deg, #886aea, #886aea 10px, #525252 10px, #525252 13px);
}

.timelines .timeline:nth-of-type(4) .filled{
    background-color: #ef473a;
}

.timelines .timeline:nth-of-type(4) .filled > .transit-option{
    background: repeating-linear-gradient(45deg, #ef473a, #ef473a 10px, #525252 10px, #525252 13px);
}

.timelines .timeline:nth-of-type(5) .filled{
    background-color: #444;
}

.timelines .timeline:nth-of-type(5) .filled > .transit-option{
    background: repeating-linear-gradient(45deg, #444, #444 10px, #525252 10px, #525252 13px);
}